*{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body{
    background-color: black;
}
.title{
    font-size: 100px;
}
.subtitle{
    font-size: 40px;
    color: rgb(239, 250, 83);
}
p{
    font-size: 24px;
}
.tap{
    color: rgb(166, 228, 233);
    font-style: italic;
    font-size: 14px;
}