*{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url(https://camo.mmcdn.com/e2127b9c330cbe3bd3a31aeb6131a265d2097016/68747470733a2f2f692e696d6775722e636f6d2f3470394a344d4f2e706e67);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.title{
    font-size: 100px;
    margin: 50px 0;
}
.subtitle{
    font-size: 40px;
    color: rgb(239, 250, 83);
    margin-bottom: 40px;
}
p{
    font-size: 24px;
}
.tap{
    color: rgb(166, 228, 233);
    font-style: italic;
    font-size: 14px;
}

.container{
    width: 1000px;
    margin: auto;
}

.left{
    width: 400px;
    float: left;
}
.right{
    margin-top: 100px;
    width: 400px;
    float: right;
}

.right p{
    margin-bottom: 20px;
}

.banana{
    width: 150px;
    transition: 0.7s;
    margin-left: 50px;
}

.banana:hover{
    width: 250px;
}

.photo{
    transition: 0.5s;
    filter: grayscale(1);
}

.photo:hover{
    filter: grayscale(0);
}


.btn-link{
    display: inline-block;

    width: 300px;
    height: 100px;
    background-color: rgb(239, 250, 83);
    color: black;
    font-size: 50px;
    text-decoration: none;
    
    margin-top: 300px;
    padding-left: 30px;
    padding-top: 30px;
}

.info{
    height: 100vh;
}

.info-block{
    max-width: 1000px;
    margin: auto;
}

.info-block h1{
    font-size: 60px;
    margin: 170px 0 50px 0;
    color: rgb(239, 250, 83);
}

.info-block h3{
    font-size: 35px;
    margin: 30px 0;
    color: rgb(240, 247, 135);
}

.info-block h3:hover{
    color: rgb(239, 248, 114);
}

footer{
    background-color: white;
    color: black;
    padding: 40px;
}


.footer-links a{
    margin-right: 50px;
}
